:root {

  --table-border: 1px gray solid;

  --table-item-height: 50px;

  --table-item-width: 250px;
}

.table-wars {
  border: var(--table-border);
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-height: 80vh;
  max-width: 90vw;
  min-height: 80vh;
  overflow-x: scroll;
  overflow-y: scroll;
}

.table-header, .table-data {
  border: var(--table-border);
  max-width: var(--table-item-width);
  min-height: var(--table-item-height);
  min-width: var(--table-item-width);
  overflow: hidden;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
}
